body {
  background-color: darkgrey;
  color: white;
  margin: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;

  background-color: black;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

a {
  padding: 1rem;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: black;
  background-color: white;
}

header, main, footer {
  padding: 1rem;
}

main {
  max-width: 85ch;
  margin: auto;
}

header, footer {
  text-align: center;
}

@media (min-width: 800px) {
  /* This css is only added to the page when the screen is 800px or wider */
  nav ul {
    display: flex;
    justify-content: flex-end;  
  }
}