
/* Gallery */

.gallery {
  margin: auto;
}

.gallery article {
  width: 100%;
  margin: 1rem;

  background-color: #ccc;
  border-radius: 1rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 1px #0000000d,
              0 2px 2px #0000000d,
              0 4px 4px #0000000d,
              0 8px 8px #0000000d;
}

.gallery article h3 {
  margin: 0.5rem;
  text-align: center;
}

.gallery article img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media screen and (min-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    gap: 1rem;
  }

  .gallery article {
    margin: 0;
  }
}