* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.7;

  background-color: #f9f9ec;
}

h1, h2, h3 {
  font-family: 'Carter One', Verdana, Geneva, Tahoma, sans-serif;
}

article {
  width: 100%;

  background-color: #ccc;
  border-radius: 1rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 1px #0000000d,
              0 2px 2px #0000000d,
              0 4px 4px #0000000d,
              0 8px 8px #0000000d;
}

article h3 {
  margin: 0.5rem;
  text-align: center;
}

article img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}